body{
    background-color: burlywood;
}
table{
    text-align: center;
    border: solid #FFAA45 5px;
    border-radius: 7px;
    margin: 50px auto;
    width: 30%;
    line-height: 30px;
    border-spacing: 2px;
    color: maroon;
}
td{
    font-size: 30px;
}
h1{
    color: #AA2287;
    text-shadow: 1px 1px #FF4500;
    font-size: 50px;
    text-align: center;
}